nav {
  z-index: 1;
  position: absolute;
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100;
}
nav span {
  display: flex;
  font-size: 24px;
  font-family: "Bungee", cursive;
}
nav #new-tweet-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border: none;
}
nav #new-tweet-button i {
  display: flex;
  color: red;
}
nav #new-tweet-button i[class="fas fa-angle-double-down"] {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
nav #new-tweet-button:hover {
  cursor: pointer;
}
