.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 99%;
}

section[hidden] {
  display: none;
}

textarea {
  background-color: #f4f1ec;
  resize: none;
  border-bottom: #545149;
  border-bottom-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  height: 1.5em;
}

div1 {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
}

button {
  background-color: #4056a1;
  color: white;
}

output[name=counterMinus] {
  color: red;
}

output[name=counter] {
  color: #545149;
}
